<div class="block block-cafedu-forgot-password" data-bind="afterRender: forgotPasswordModal, blockLoader: isLoading" style="display: none">
  <div class="block block-customer-forgot-password">
    <div class="block-title">
      <strong id="block-customer-forgot-password-heading"
              role="heading"
              aria-level="2"
              data-bind="i18n: 'FORGOT YOUR PASSWORD'"></strong>
    </div>
    <!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <div class="block-content">
      <form 
        method="post" 
        id="cafedu-forgot-password-form-validate" 
        class="form password forget cafedu-forget-password-form" 
        data-bind="attr: { autocomplete: autocomplete }, submit: forgotPasswordAction" >
        <div class="field email required">
          <input 
            type="email" 
            class="input-text" 
            id="cafedu-forgot-password-email" 
            name="email" 
            data-bind="
              attr: {
                autocomplete: autocomplete,
                placeholder: $t('E-MAIL ADDRESS*')
              }"
            data-validate="{required:true, 'validate-email':true}" />
          <p class="email-desc" data-bind="i18n: 'Please enter your email address below to receive a password reset link.'"></p>
        </div>
        <div class="actions-toolbar">
          <div class="primary">
            <button type="submit" class="action submit primary">
              <span data-bind="i18n: 'RESET MY PASSWORD'"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>