<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cdc_currency>
            <format>
                <JPY>¤#,##0</JPY>
            </format>
        </cdc_currency>
        <csp>
            <policies>
                <storefront>
                    <base>
                        <policy_id>base-uri</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </base>
                    <default>
                        <policy_id>default-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </default>
                    <images>
                        <policy_id>img-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </images>
                    <scripts>
                        <policy_id>script-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>1</eval>
                        <dynamic>0</dynamic>
                    </scripts>
                    <frames>
                        <policy_id>frame-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>1</eval>
                        <dynamic>1</dynamic>
                    </frames>
                    <objects>
                        <policy_id>object-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>1</eval>
                        <dynamic>1</dynamic>
                    </objects>
                    <styles>
                        <policy_id>style-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </styles>
                    <connections>
                        <policy_id>connect-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </connections>
                    <fonts>
                        <policy_id>font-src</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </fonts>
                </storefront>
            </policies>
        </csp>
    </default>
</config>
